<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/"><h1>HOME</h1></a>
    
    {% for x in posts %}
        <div>
            <h4>Title: {{x.title}}</h4>
            <h4>Create At: {{x.created_at}}</h4>
            <p>Id: {{x.id}}</p>
            <a href={% url 'PostUpdate' x.pk %}>update</a>
            <a href={% url 'PostDelete' x.pk %}>delete</a>
            <hr>
        </div>
    {% endfor %}
</body>
</html>