<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/">HomePage</a>
    

    <div>
        <ul>
            {% for element in getAllBooks %}
                <li>
                    {% comment %} {{element.title}} (Rating : {{element.rating}}) {% endcomment %}
                    <a href={% url 'bookDetails' element.id%}>{{element.title}}</a> 
                    [Rating : {{element.rating}} ]
                </li>
            {% endfor %}
        </ul>

    </div>
</body>
</html>